body { 

        font-family: Georgia, Arial, sans-serif;
        color: gray;
        background-image:url('/Users/gobbledygook/2013-09-twittler/img/019-Subtle-light-patterns-Vol04.png');
    }

* {


}


header {
   height: 37px;
   width: 100%;
   box-shadow: -3px -4px 50px #000;
   background-color: gray;
   color: white;
   border-radius: 4px; 20px;
   text-shadow:#4f6478 0px 5px 50px; 
   border-bottom:1px solid rgba(136,136,136,0.75);
   position:relative;

}

.user {
  color:pink
}

hover

h1{
  text-align: left
  webkit-text-shadow: 2px 3px 30px #000;
  font-size: 200%
  text-color: white;


}

.wrapper{
     text-align: center

}

.tweets {
    margin: 47px 200px 80px 90px;
    padding-top: 20px;
    padding-left: 50px;
    text-align: justify-left;
    line-height: 2.0;
    border-left: 1px solid @border-color;
    color:  black
    webkit-text-shadow: 2px 8px 10px #fff;
    opacity: 1.6;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: white;

}


.refresh {
    font-family: white bold Tahoma;
    color: blue;
}






wrapper {


}